/* Room 77 - Custom CSS */

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.gap-1_5 {
  gap: 0.375rem;
}

.header.navbar .logo {
  padding: 1rem 0;
}
.text-warning {
  display: none;
}

.phone .feather-phone {
  color: var(--white);
  height: 1rem;
  width: 1rem;
}

.phone__number {
  color: var(--primary-color-light);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.header.navbar .navbar-brand {
  padding: 0;
  margin: 0;
  /* text-indent: -9999px;
    background-image: url(../images/room77-logo.png);
    height: 80px;
    width: 144px; */
}
.navbar-brand h1 {
  font-size: 3.8em;
  display: inline;
}
.navbar-brand {
  padding: 1rem 0;
}

.hotel__photos {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu__list {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0 auto 1rem;
  padding: 0;
}

.menu a {
  color: var(--primary-color);
  font-size: 16px;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.menu a:hover {
  color: var(--primary-color-hover);
}

.block-search-form {
  display: none;
}

.about-room77 {
  background: #1f101b;
}

.about-room77 .about-room77-text img {
  width: 120px;
  height: 100px;
  border: 1px solid #4e4e4e;
}

.form-search-hotels .search-button .btn:hover {
  background: var(--primary-color-hover);
}

/* Buttons */
.button {
  border: 0;
  background: var(--primary-color);
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  line-height: 16px;
  padding: 0.75rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.2s ease-in-out, background 0.2s ease-in-out;
}

.button:hover,
.button:focus {
  background: var(--primary-color-hover);
  color: var(--white);
}
a.button:hover,
a.button:focus {
  text-decoration: none;
}

.button--small {
  font-size: 0.875rem;
  padding: 0.5rem 1rem;
}

.button--large {
  font-size: 1.25rem;
  padding: 1rem 2rem;
}

.button--rounded {
  border-radius: var(--button-radius);
}

.check-in-form {
  margin-top: 30px;
  box-shadow: 0px 16px 24px rgb(83 91 100 / 24%);
  border: 1px solid #eee;
  padding: 0;
}
.amenities ul li {
  background: no-repeat url('../images/icons/check-circle.png') left 17px;
}

.map-placeholder {
  background: no-repeat url('../images/austin-map-wide.png');
  width: 100%;
  min-height: 420px;
}
.hotel-branding {
  display: flex;
  justify-content: start;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.hotel-logo {
  max-height: 50px;
  width: auto;
}
.additional-footer a {
  text-decoration: none;
}

.hotel-rating {
  margin-bottom: 1rem;
}

.hotel-about {
  margin-bottom: 4.5rem;
  padding-top: 3.5rem;
}

.nearby-hotels {
  max-width: 100vw;
}

.nearby-hotels .section-heading {
  margin-bottom: 1.25rem;
}

.nearby-hotels__list {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: minmax(60vw, 1fr);
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nearby-hotel {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0;
}

.nearby-hotel__photo {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.nearby-hotel__name {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 0.25rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nearby-hotel__visual-rating {
  display: flex;
  gap: 0.25rem;
}

.nearby-hotel__rating-star {
  display: block;
}

.section-heading {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.25;
}

.subheader {
  background-color: var(--primary-color);
  width: 100%;
}
.search {
  align-items: center;
  container: searchContainer / inline-size;
  display: flex;
  justify-content: center;
  padding: 1rem;
  width: 100%;
}

.search__form {
  width: 100%;
}

.search__input {
  background-color: var(--white);
  border: 0;
  border-radius: var(--full-border-radius);
  color: var(--gray-dark);
  font-size: 1rem;
  line-height: 1.1;
  padding: 0.5rem 1rem;
  width: 100%;
}

.search__input::placeholder {
  color: var(--gray);
}

.search__input:focus {
  box-shadow: 0px 16px 24px rgb(83 91 100 / 24%) !important;
  outline: 3px solid var(--primary-color-light) !important;
}

@media (min-width: 768px) {
  .nearby-hotels__list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-auto-flow: initial;
    grid-auto-columns: initial;
  }
}

@media (max-width: 767px) {
  .hotel-branding {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .nearby-hotels__list-wrapper {
    overflow-x: auto;
    position: relative; /* fix's overflow-x for mobile */
  }
  .nearby-hotels__list-wrapper {
    scroll-snap-type: x mandatory;
  }
  .nearby-hotel {
    scroll-snap-align: start;
  }
  .search {
    padding: 1rem;
  }
  .search__input {
    font-size: 1rem;
  }
}
