@font-face {
  font-family: 'Config Rounded';
  src: url('fonts/ConfigRounded/ConfigRoundedRegular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Config Rounded';
  src: url('fonts/ConfigRounded/ConfigRoundedLight.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Config Rounded';
  src: url('fonts/ConfigRounded/ConfigRoundedItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
