---
export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
const currentYear = new Date(Date.now()).getFullYear();
---

<!doctype html>
<html lang="en" class="theme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Patrick A. Alcisto" />
    <meta
      name="description"
      content="Senior UI Developer passionate about crafting excellent user experiences on the web and mobile."
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />

    <footer>
      <p>&copy;{currentYear} Patrick A. Alcisto</p>
    </footer>
  </body>
</html>
