---
import '../style/styles.css';
import Footer from './Footer.astro';
import HeadContents from './Head.astro';

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props as Props;
const currentYear = new Date(Date.now()).getFullYear();
---

<!doctype html>
<html lang="en" class="bg-[var(--sherpa-blue-dark)]">
  <head>
    <HeadContents description={description} />
    <title>{title}</title>
  </head>
  <body class="grid grid-rows-[1fr] text-neutral-200 min-h-screen">
    <div
      class="grid grid-rows-[233px_auto_1fr] xs:grid-rows-[333px_auto_1fr] gap-4 md:gap-8 xl:gap-12 bg-light-black"
    >
      <slot />

      <Footer currentYear={currentYear} />
    </div>
  </body>
</html>
