---
import GithubIcon from '../components/icons/Github.astro';
import CautionIcon from '../components/icons/Caution.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
const currentYear = new Date(Date.now()).getFullYear();
---

<!doctype html>
<html lang="en" class="theme-dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="author" content="Patrick A. Alcisto" />
    <meta
      name="description"
      content="Senior UI Developer passionate about crafting excellent user experiences on the web and mobile."
    />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <div class="caution h-16 md:h-[50px]">
      <p>
        <CautionIcon classes="caution-icon" />This site is in active
        development. Please don't mind the mess as I sort everything out.
        Meanwhile, you can checkout the code on&nbsp;<a
          class="github-link"
          href="https://github.com/palcisto/patrickalcisto.dev"
          ><span>
            <GithubIcon classes="octocat-icon" />
          </span>GitHub</a
        >!
      </p>
    </div>
    <slot />

    <footer>
      <p>&copy;{currentYear} Patrick A. Alcisto</p>

      <div>
        <ul>
          <li><a href="https://www.linkedin.com/in/patrickalcisto/" class="text-accent">LinkedIn</a></li>
          <li><a href="https://github.com/palcisto" class="text-accent">Github</a></li>
          <li><a href="https://portal.g2i.co/developer/Patrick-Alcisto/22c9f395-29f8-4820-b737-1e83dfce07a0" class="text-accent">G2i</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  :root {
    --main-family: 'Roboto', sans-serif;
    --accent-family: 'Orbitron', sans-serif;
    --font-size-small: clamp(0.8rem, 0.22vw + 0.75rem, 1rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
    --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

    /**
     * Trying a out a new CSS custom property naming convention for colors.
     * TODO: By December 31, 2023, choose a convention and remove any unnecessary CSS custom properties
     */
    /* CSS HSL */
    --white-base: 0 0% 100%;
    --pure-black-base: 0 0% 0%;
    --orange-pantone-base: 20 100% 50%;
    --lavender-blush-base: 0 68% 96%;
    --brilliant-rose-base: 328 93% 63%;
    --eerie-black-base: 180 18% 11%;
    --dark-purple-base: 290 43% 18%;
    --caution-yellow-base: 43 85% 56%;

    --background-color-base: var(--dark-purple-base);
    --primary-color-base: var(--orange-pantone-base);
    --accent-color-base: var(--brilliant-rose-base);
    --title-color-base: var(--primary-color-base);
    --text-color-base: var(--eerie-black-base);

    /* Not sure how much these next six properties will be used yet.*/
    --orange-pantone: hsl(var(--orange-pantone-base) / 1);
    --lavender-blush: hsl(var(--lavender-blush-base) / 1);
    --brilliant-rose: hsl(var(--brilliant-rose-base) / 1);
    --eerie-black: hsl(var(--eerie-black-base) / 1);
    --dark-purple: hsl(var(--dark-purple-base) / 1);
    --caution-yellow: hsl(var(--caution-yellow-base) / 1);

    --color-bg: linear-gradient(180deg, #ffffff 0%, #aec6dc 100%);

    --border-radius: 3px;

    --primary-color: hsl(var(--primary-color-base) / 1);
    --accent-color: hsl(var(--accent-color-base) / 1);
    --title-color: hsl(var(--title-color-base) / 1);
    --text-color: hsl(var(--text-color-base) / 1);
    --caution-color: hsl(var(--caution-yellow-base) / 1);
    --background-color: hsl(var(--background-color-base) / 1);
  }

  :root.theme-dark {
    --background-color-base: var(--dark-purple-base);
    --primary-color-base: var(--orange-pantone-base);
    --accent-color-base: var(--brilliant-rose-base);
    --title-color-base: var(--primary-color-base);
    --text-color-base: var(--lavender-blush-base);
  }

  :root.theme-light {
    --background-color-base: var(--lavender-blush-base);
    --primary-color-base: var(--orange-pantone-base);
    --accent-color-base: var(--brilliant-rose-base);
    --title-color-base: var(--primary-color-base);
    --text-color-base: var(--eerie-black-base);
  }

  html {
    background-color: var(--background-color);
    box-sizing: border-box;
    font-family: var(--main-family);
    font-size: var(--font-size-base);
    min-height: 100%;
  }

  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  body {
    margin: 0;
  }
  h1 {
    color: var(--title-color);
    font-family: var(--accent-family);
    font-size: var(--font-size-xl);
  }
  h2 {
    color: var(--title-color);
    font-size: var(--font-size-lg);
  }
  h3 {
    color: var(--text-color);
    font-size: var(--font-size-base);
  }
  h4 {
    color: var(--text-color);
    font-size: var(--font-size-base);
    font-weight: 500;
  }
  p,
  li {
    color: var(--text-color);
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
  .caution {
    background-color: var(--caution-color);
    background-image: repeating-linear-gradient(
      45deg,
      var(--caution-color),
      var(--caution-color) 20px,
      var(--eerie-black) 20px,
      var(--eerie-black) 40px
    );
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    position: relative;
  }

  .caution::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    background-image: linear-gradient(
      to top,
      hsl(var(--caution-yellow-base) / 1),
      transparent 50%
    );
    z-index: 0;
  }

  .caution p {
    background-color: var(--caution-color);
    color: var(--eerie-black);
    display: flex;
    align-items: center;
    font-size: var(--font-size-small);
    line-height: 1;
    margin: 0;
    padding: 4px clamp(0.5rem, 2vw + 0.5rem, 3rem);
    z-index: 1;
  }

  .octocat-icon {
    vertical-align: middle !important;
  }

  .caution-icon {
    display: inline-block;
    margin-right: 24px;
    height: 32px;
    width: 32px;
  }

  .github-link {
    color: var(--eerie-black);
    display: inline-flex;
    align-items: center;
    margin-left: 4px;
    text-decoration: underline;

    &:hover {
      color: var(--accent-color);
    }

    & span {
      display: inline-block;
      margin-right: 4px;
    }
  }

  footer {
    background-color: var(--eerie-black);
    height: 500px;
    margin: 0 auto;
    padding-top: 50px;
    width: 100%;
    text-align: center;
  }

  footer img {
    width: 20px;
  }
</style>
